
<nav class="relative flex flex-wrap items-center justify-between px-4 py-4 mx-6 mt-6 transition-all ease-in shadow-none duration-250 rounded-2xl lg:flex-nowrap lg:justify-start" navbar-main navbar-scroll="false">
  <div class="flex items-center justify-between w-full px-4 py-1 mx-auto flex-wrap-inherit">
    <nav>
      <!-- breadcrumb -->
      <h4 class="text-2xl mb-0 font-bold text-white capitalize">Hello, <%= current_user.name %></h4>
      <ol class="flex flex-wrap mr-12 bg-transparent rounded-lg sm:mr-16">
        <li class="text-m capitalize leading-normal text-white before:text-white aria-current="page"><%=current_user.type %></li>
      </ol>
    </nav>
    <%= link_to "Log out", destroy_user_session_path, class: "block px-0 py-2 text-l font-semibold text-white transition-all ease-nav-brand" %>

  </div>
</nav>
